/* reset */

.DialogOverlay {
  // background-color: var(--accent-color-100);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  min-width: 378px;
  min-height: 228px;

  background-color: var(--color-dark-300);
  border: var(--color-dark-100) 1px solid;
  border-radius: 2px;
  box-shadow:
    hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;

  // max-width: 450px;
  // max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font: var(--font-h1);
}

.DialogDescription {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  height: 100%;
  margin: 12px 24px;

  font: var(--font-regular-16);
}

.DialogDescription_postModal {
  flex-direction: row;
  padding: 0;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 35px;
  padding: 0 15px;

  font-size: 15px;
  font-weight: 500;
  line-height: 1;

  border-radius: 4px;
}

.closeBtn {
  align-self: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: 0;
  box-shadow: none;

  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-dark-100);
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin: 12px 24px;
}

.border {
  border: var(--color-dark-100) 1px solid;
}

.IconButton:hover {
  background-color: var(--violet-4);
}

.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.btnYes {
  margin-right: 24px;
}
