.container {
  display: flex;
  gap: 30px;
  justify-content: space-between;

  margin-top: 48px;
  padding-bottom: 23px;

  border-bottom: 1px solid var(--color-dark-300);
}

.button {
  align-self: flex-end;
  width: 160px;
  margin-top: 24px;
}

.section {
  display: flex;
  flex-direction: column;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.inputWrap:first-child {
  margin-top: -12px;
}

.label {
  font: var(--font-regular-14);
  color: var(--color-light-900);
}
