.selectContainer {
  display: flex;
}

.root {
  background-color: var(--color-dark-700);
}

.selectTrigger {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 5px;
  align-items: center;

  width: var(--radix-select-trigger-width);
  padding: 5px;

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  & > *:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &:hover {
    background: var(--color-dark-500);
  }

  &:focus-visible {
    border-color: var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }
}

.fullWidth {
  width: 100%;
}

.selectContent {
  z-index: 1;

  width: var(--radix-select-trigger-width);
  margin-top: -2px;

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 0 0 2px 2px;
}

.selectItem {
  cursor: pointer;

  display: flex;
  gap: 5px;

  padding: 5px;

  border: none;
  outline: none;

  &:hover {
    color: var(--color-accent-300);
    background: var(--color-accent-900);
  }
}

.arrow {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

.arrowDown {
  transform: rotate(180deg);
}
