.header {
  height: var(--header-height);
  border-bottom: 1px solid var(--color-dark-300);
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  gap: 54px;
}

.bellButton {
  position: relative;
  display: inline-block;
  padding-top: 5px;
}

.span {
  position: absolute;
  top: -2px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 15px;
  height: 15px;

  font-size: 10px;
  line-height: 8px;
  color: var(--color-light-100);

  background-color: var(--color-danger-500);
  border-radius: 50%;
}
