.mainWrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.titleAndStat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.stat {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
